*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'General Sans', sans-serif;
    padding-inline: 1rem; 
    line-height: 1.5;
    margin: 0 auto;
}

/* Main */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem ;
}

  
.content-link{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 28rem;
    text-decoration: none;
    background-color: #4094ec;
    padding: 1.2rem 2.4rem;
    color: #fff;

    border-radius: 0.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

