
/*********************************************************************/
/* NAV BAR */
/*********************************************************************/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem 3.6rem 0 3.2rem ;
    height: 7.2rem;
}

.list li{
    list-style: none;
}

.links{
    display: inline-block;
    text-decoration: none;
    color: #181e25 ;
}

.yt-btn{
    background-color: #fff;
    border: solid 0.1rem #dee4ed;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    padding: 1.1rem 2.2rem ;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: translateY(0.5rem);

    padding-top: 0.8rem;

    gap: 3.1rem;
    font-size: 2.2rem;
}

.nav-list li:last-child{
    padding-right: 2.8rem;
    padding-left: 1.8rem;
}

/*********************************************************************/
/* HERO */
/*********************************************************************/

.hero{
    padding-top: 16rem ;
    text-align: center;
}

.podcast-link{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 250px;
    color: #fff;
    background-color: #4094ec;
}

.chev-right{
    height: 2.2rem;
    transform: translate(0.3rem,0.5rem);
}

.head-para{
    text-align: center;
}

.hero-heading{
    font-size: 7.6rem;
    font-weight: 800;
    margin-top: 1.6rem;

    line-height: 1.3;

}

.free-span{
    background: -webkit-linear-gradient(-360deg,#4094ec,#06d6a0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-para{
    margin-top: 3.2rem;
    font-size: 2rem;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2px;
    line-height: 2.9rem;
    color: #5f7086;
}
.bold{
    color: #181e25;
    font-weight: 600;
}

.header-buttons{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.courses-link{
    font-size: 1.6rem;
    background-color: #4094ec;
    padding: 1.4rem 3.2rem;
    color: #fff;

    border-radius: 0.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.right-icon{
    height: 2rem;
    width: 2rem;
}

.yt-link{
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    padding: 1.4rem 3.6rem;
    color: #000;

    border: 1px solid #dee4ed;
    border-radius: 0.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.top-right-icon{
    height: 2rem;
    width: 2.2rem;
}

/*********************************************************************/
/* MAIN-CONTENT */
/*********************************************************************/

.content-list{
    color:#5f7086;
    padding: 1rem 3rem;
}
.content-list > li {
    margin-bottom: 2.2rem;
}
.content-list > li:last-child {
    margin-bottom: 3.6rem;
}

.right-icon-about{
    height: 2rem;
}

/* 1. About us */
.about-us{
    margin-top: 15rem;
    padding: 1.2rem 2.2rem ;
}

.about-head{
    font-size: 3.6rem;
    margin-bottom: 4rem;
    transform: translate(1.6rem,1.2rem);
}

.about-img{
    
    padding: 2.4rem 4rem;
    justify-self:center;
}

.about-content{
    font-size: 2rem;
    letter-spacing: 0.5px;
    
    line-height: 1.45;
    padding: 0rem 15%rem;
}

.about-img-one{
    grid-column: 1/2;
}

.about-content-one{
    grid-column: 2/3;
    justify-self: center ;
    margin-right: 6.4rem;
   
}


/*2. COURSES */
.second-head{
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.about-img-two{
    grid-column: 2/3;
}

.about-content-two{
    grid-row: 1/2;
    justify-self: self-end;
    /* padding: 0rem 12.8rem; */
    justify-self:center;
}

/* 3. EVENTS */

.about-img-three{
    grid-column: 1/2;
}

.about-content-one{
    grid-column: 2/3;
    justify-self: center ;
    margin-right: 6.4rem;
    /* padding: 0rem 12.8rem; */
}

/* 4. MENTORSHIP */
.about-img-two{
    grid-column: 2/3;
}

.about-content-two{
    grid-row: 1/2;
    justify-self: self-end;
    /* padding: 0rem 12.8rem; */
    justify-self:center;
}

.roadmap-link{
    padding: 1.2rem 1rem;
}

/* OPEN SOURCE CAFE PODCAST */
.container-fifth{
    grid-column: 1/-1;
    column-gap: 2.4rem;

    background-color: #f3f5f7;

    margin: 15rem 4%;
    padding: 10rem 4%;

}

.container-article{
    /* align-self: baseline; */
    line-height: 1.45;
}

.container-head{
    font-size: 3.6rem;
    color:#181e25;
    font-weight: 800;
    line-height: 1;
    padding-bottom:5% ;
}
.container-para{
    font-size: 2rem;
    color: #5f7086;
    margin-bottom: 3.6rem;
}
.container-btn{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;

    padding: 1.6rem 7.8rem;
    border-radius: 5rem;

    text-decoration: none;
    background-color: #06d6a0;
}

.podcast-img{
    justify-self: right;
}

/* 6. BLOG */
.blog{
    margin-bottom: 15rem;
}
.about-img-two{
    grid-column: 2/3;
}

.about-content-two{
    grid-row: 1/2;
    justify-self: self-end;
    /* padding: 0rem 12.8rem; */
    justify-self:center;
}

/* 7. Founder */
.founder-para{
    font-size: 1.8rem;
    line-height: 1.5;

    padding-bottom: 6%;
}
.about-img-seven{
    grid-column: 1/2;
}

.about-content-seven{
    grid-column: 2/3;
    justify-self: center ;
    margin-right: 6.4rem;
    /* padding: 0rem 7.6rem; */
}

.founder-head{
    font-size: 3.6rem;
    color: #181e25;
    margin-bottom: 5.5rem;
}
.founder-socials{
    display: flex;
    padding: 1rem;
    gap:1.2rem
}

/*********************************************************************/
/* FOOTER */
/*******************/

.grid-5-col{
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 2;

    padding: 10rem 0;
}

.logo-footer{
    grid-column: 1/4;
    padding: 0 8.5rem;
}
.logo-footer{
    grid-column: 1/4;
    padding: 0 8.5rem;
}
.footer-link{
    text-decoration: none;
    color:#5f7086;
    font-size: 2rem;
}

.col-one{
    font-size: 1.8rem;
    list-style: none;
    grid-column: 4/5;
    justify-self: center;
    line-height: 2.4;
}

.col-one-head{
    font-size: 1.8rem;
    font-weight: 500;
    color:#000;
    padding-bottom: 1.4rem;

    position: relative;
}

.col-two{
    font-size: 1.8rem;
    list-style: none;
    grid-column: 5/6;
    justify-self: right;
    line-height: 2.4;
}
.col-two-head{
    font-size: 1.8rem;
    font-weight: 500;
    color:#000;
    padding-bottom: 1.4rem;

    position: relative;
}

.col-one-head::after{
    content: '';
    background-color: #4094ec;
    width: 5rem;
    height: 0.2rem; 
    position: absolute;

    top:40px;
    left:0;
}
.cols-one{
    margin-left: 8rem;
}
.cols-two{
    margin-right: 8rem;
}
.copyright{
    font-size: 1.8rem;
    color:#5f7086;
    padding: 0 8.5rem;
}